*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   }
body {
    background-image: url("img/hinh-anh-anime-tinh-yeu6-1024x576.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.love{
    position: relative;
    width: 100%;
    max-height: 100%;
    text-align: center;
    justify-items: center;
}
.Love-img span{
    margin-top: 20px;
    color: #d63031;
}
.Love-img img{
    max-width: 100%;
    border: 0;
	border-radius: 50%;
}

#btnYes{
    height: 2rem;
    width: 5rem;
    border-radius: 50%;
    border:2px solid red;
    cursor: pointer;

}
#btnNo{
    height: 2rem;
    width: 5rem;
    border-radius: 50%;
    border:2px solid red;
    cursor: pointer;

}




.box {
	width: 300px;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}

.heart {
	position: relative;
	margin: auto;
	height: 170px;
	width: 200px;
	animation: animate 1s infinite;
}

.heart:before, .heart:after {
	content: '';
	position: absolute;
	background: #d63031;
	width: 100px;
	height: 160px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.heart:before {
	left: 100px;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
							0 10px 10px rgba(0,0,0,0.22);
}

.heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}

@keyframes animate {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(.8);
	}
	60% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@media (min-width: 1113px) {
    .box {
      margin-top: 80px;
    }
}
@media only screen and (max-width: 800px) {
    body {
      background-color: pink;
      height: auto;
    }

}